.league-info{
    margin: 15px;
    text-align: center;
    
    @media #{$medium} {
        margin: 25px 0;
    }

    .name{
        font-style: italic;
        color: $orange;
    }

    .position{
        font-size: em-calc(40);
        color: $orange;

        @media #{$medium} {
            font-size: em-calc(60);
        }
    }
}

.month-seperator{
    background-color: black;
    position: relative;
    height: 10px;
    margin: 50px 0;
    
    @media #{$small} {
        margin: 100px 0 0;
    }

    @media #{$medium} {
        margin: 150px 0 0;
    }

    span{
        color: white;
        background-color: black;
        width: 65px;
        height: 75px;
        position: absolute;
        display: block;
        padding: 15px;
        text-align: center;
        font-family: 'Viga', sans-serif;
        font-weight: 400;
        font-style: normal;
        left: 15px;

        @media #{$medium} {
            width: 100px;
            height: 89px;
            padding: 25px 15px;
            left: 75px;
        }

        p{
            font-size: 16px;
            margin: 0;
            line-height: 22px;
            font-weight: bold;
            @media #{$medium} {        
                font-size: 20px;
                line-height: 30px;
            }
        }

        &::before{
            content: ' ';
            width: 0;
            height: 0;
            border-style: solid;
            border-color: #000000 transparent transparent transparent;
            position: absolute;
            left: 0;
            bottom: -30px;            
            border-width: 30px 30px 0 0;

            @media #{$medium} {
                bottom: -50px;            
                border-width: 50px 50px 0 0;
            }
        }

        &::after{
            content: ' ';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 50px 50px 0;
            border-color: transparent #000000 transparent transparent;
            position: absolute;
            bottom: -50px;    
            right: 0;   
            bottom: -30px;            
            border-width: 0 30px 30px 0;

            @media #{$medium} {
                bottom: -50px;            
                border-width: 0 50px 50px 0;
            }     
        }
    }
}

.fixture-result{
    text-align: center;
    padding: 40px 0;

    @media #{$medium} {
        padding: 75px 0;
    }

    .match-type{
        color: $orange;
        font-style: italic;
        margin: 0;

        @media #{$medium} {
            font-size: em-calc(25);
        }
    }

    .fixture{
        margin: 0 auto;
        max-width: 75%;
        @media #{$medium} {
            font-size: em-calc(45);
        }
    }

    .date{
        margin: 0;

        @media #{$medium} {
            font-size: em-calc(20);
        }
    }

    .score{
        background-color: #000000;
        display: inline-block;
        padding: 15px 50px;

        @media #{$medium} {
            padding: 25px 140px;
        }

        span{
            color: $orange;
            @include headerfont();
            font-size: 40px;

            @media #{$medium} {
                font-size: 60px;

            }
        }
    }
}