header{
    position: relative;
}

.main__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px;
    
    @media #{$medium} {
        padding: 20px;
    }
}

.main-header-logo {
    display: block;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    width: 75px;
    height: 75px;
    // background-image: url(../images/lionslogo.svg);
    background-image: url(../images/lionslogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.main-nav{
    display: none;
    
    @media #{$medium} {
        display: flex;
        align-items: center;
    }

    .toggle{
        padding: 5px 20px 6px;
        background-color: white;
        border-radius: 25px;
        text-transform: capitalize;
        font-weight: 400;
    }

    .nav{
        display: flex;
        list-style: none;
        margin-bottom: 0px;

        li{
            margin: 0 15px 0 0;
            
            &.nav-selected{
                a{
                    border-bottom: 1px solid white;
                }
            }

            a{
                text-transform: uppercase;
                @include bodyfont();
                color: white;
                font-size: 17px;
                letter-spacing: 1px;
            }
        }
    }
}

#section04 a {
  padding-top: 60px;
}

.scroll-down{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
