.team-container{
    background-color: black;
    background-image: url(images/pitch-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px 15px;

    @media #{$medium} {
        padding: 100px 0;

    }
}

.team-member{
    overflow: hidden;
    background-color: $orange;
    height: 300px;
    position: relative;
    margin-bottom: 75px;
    cursor: pointer;
    
    .player-details{
        position: absolute;
        top: calc(100% - 70px);
        left: 15px;
        transition: all 0.3s ease-in-out;
    }

    .position,
    .name{
        color: white;
        margin: 0;
    }

    &:hover{
        background-color:#934e00;
        transition: all 0.3s ease-in-out;

        .player-details{
            top: 15px;
            transition: all 0.3s ease-in-out;
            position: absolute;
        }
    }
}