h1{
    @include headerfont();
    line-height: 1.25;
    font-size: em-calc(32);

    @media #{$medium} {
        font-size: em-calc(36);
    }
}

h2{
    @include headerfont();
    line-height: 1.33;
    font-size: em-calc(28);

    @media #{$medium} {
        font-size: em-calc(30);
    }
}

h3{
    @include headerfont();
    font-size: em-calc(22);
    line-height: 1.15;
    margin-bottom: 5px;

    @media #{$medium} {
        font-size: em-calc(26);
        line-height: 1.33;
    }
}

h4{
    @include headerfont();
    line-height: 1.2;
    font-size: em-calc(20);

    @media #{$medium} {
        font-size: em-calc(23);
    }
}

p{
    @include bodyfont();
    font-size: em-calc(16);
    line-height: 1.66;

    @media #{$medium} {
        font-size: em-calc(18);
    }
}

a{
    color: black;
    @include bodyfont(bold);

    &:hover,
    &:focus{
        color: black;
    }
}

ul{
    @include bodyfont();
    font-size: em-calc(16);
    line-height: 1.66;

    @media #{$medium} {
        font-size: em-calc(18);
    }

}