.button{
    padding: 10px 25px;
    box-shadow: none;
    display: inline-block;


    &.white{
        color: black;
        background-color: white;
        border-color: 1px solid black;
    }

    &.black{
        color: white;
        background-color: black;
        border-color: 1px solid white;
    }
}